<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Changed</title>
</head>
<body>
<div class="container">
        <div class="header">
            <h1>Password Changed</h1>
        </div>
        <div class="content">
            <p>Hello {{ username }},</p>
            <p>This is a confirmation that the password for your {{ app_name }} account has been changed.</p>
            <p>If you did not make this change, please contact our support team immediately at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>
            <p>For security reasons, we recommend that you keep your password secure and not share it with anyone.</p>
        </div>
        <div class="footer">
            <p>© {{ current_year }} {{ app_name }}. All rights reserved.</p>
            <p>This is an automated message, please do not reply.</p>
        </div>
    </div>
</body>
</html>